extends layout

block content
    .main-container
        .login-container
            h1= title
            form(method="POST" action="/login")
                .field-group
                    label(for="email") Email Address:
                    input#email.form-control(type="email", placeholder="Email Address", name="email")
                .field-group
                    label(for="pw") Email Address:
                    input#pw.form-control(type="password", placeholder="Password", name="pw")
