extends layout

block content
    .main-container
        .login-container
            h1 = "Login"
            form(method="POST" action="/register")
                .field-group
                    label(for="name") Full Name:
                    input#name.form-control(type="text", placeholder="Full Name", name="name")
                .field-group
                    label(for="company") Company:
                    input#company.form-control(type="text", placeholder="Company Name", name="company")
                .field-group
                    label(for="email") Email Address:
                    input#email.form-control(type="email", placeholder="Email Address", name="email")
                .field-group
                    label(for="pw") Password:
                    input#pw.form-control(type="password", placeholder="Password", name="pw")